# build output
build
CMakeFiles
.mxproject
build.ninja
CMakeCache.txt
compile_commands.json
cmake
cmake_install.cmake
CLAUDE.md
request.md
mavlink_env/
.vscode
.clangd
STM32_FLASH_STORAGE.md
.settings/
.claude
h753_pre/